.desktopDownloadButton_container__nfbY_ {
  display: inline-block;
}
.desktopDownloadButton_msPersistUnthemedColors__z_y2R {
  --color-button-primary-background: var(--color-gray-900);
  --color-button-primary: var(--color-gray-900);
  --color-button-primary-background-active: var(--color-gray-700);
  --color-button-primary-active: var(--color-gray-700);
  --color-button-primary-background-hover: var(--color-gray-800);
  --color-button-primary-hover: var(--color-gray-800);
}
.desktopDownloadButton_msStoreButton__NORVf {
  margin-top: 10px;
  width: 100%;
  fill: var(--color-button-primary-background);
}
.desktopDownloadButton_msStoreBadge__S8gEp {
  width: 100%;
  height: auto;
  display: block;
  max-height: 55px;
}
.desktopDownloadButton_msStoreButton__NORVf:hover {
  color: var(--color-button-primary-background-hover);
}
.desktopDownloadButton_msStoreButton__NORVf:active,
.desktopDownloadButton_msStoreButton__NORVf:focus {
  color: var(--color-button-primary-background-active);
}
.Block_block__Q3GQF {
  --block-border-radius: 12px;
  width: 100%;
  height: 100%;
  border-radius: var(--block-border-radius);
  background-color: var(--color-background-surface-neutral);
  border: 2px solid var(--color-background-surface-neutral);
  transition:
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  position: relative;
  box-shadow: var(--block-shadow, none);
}
@keyframes modal_backgroundFadeOut__jw_M8 {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
